<section id="footer">
        <div class="footer">
          <div class="footer-h7">
            <h7>&copy; BugWar</h7>
          </div>

          <div >
            <a class="social-icon" href = "https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBpDhZJJlqqdKPkWrWdxCvjsjWZZRgFRPfzGFshNkWmxGbJDftbgSXckJRNDZCrvGLCxCQX"><i class="fas fa-envelope"></i></a>
              <a class="social-icon" href="https://www.facebook.com/agrajgarg1509/"
                target="_blank"><i class="fab fa-facebook-square"></i></a>
              <a class="social-icon" href="https://www.instagram.com/agrajgarg1526/"
                target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="social-icon" href="https://www.linkedin.com/in/agraj-garg-539755169/"
                target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a class="social-icon" href="https://github.com/agrajgarg1526"
                target="_blank"><i class="fab fa-github"></i></a>
                
          </div>
        </div>
      </section>
    </section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

</body>

</html>