<%- include('partials/header') %>

<div class="home-block">
  <div class="main-div">
    <div class="btn-div">
      <button
        type="button"
        class="btn btn-outline-dark home-btn post"
        onclick="window.location='/ask';"
      >
        Post A Question
      </button>
      <button
        type="button"
        class="btn btn-outline-dark home-btn answer"
        onclick="window.location='/list';"
      >
        Answer a question
      </button>
    </div>
  </div>

  <div class="btn-div">
    <button type="submit" class="btn btn-outline-dark home-btn for">
      Forums
    </button>

    <button type="submit" class="btn btn-outline-dark home-btn com">
      Community
    </button>
  </div>
</div>
