<%- include('partials/header') %>

<div class="home-block">
  <div class="btn-div">
    <button type="button" class="btn btn-outline-dark home-btn">
      Post A Question
    </button>
    <button type="button" class="btn btn-outline-dark home-btn">Forums</button>
  </div>
  <div class="btn-div">
    <button type="button" class="btn btn-outline-dark home-btn">
      Answer a question
    </button>
    <button type="button" class="btn btn-outline-dark home-btn">
      Community
    </button>
  </div>
</div>

<%- include('partials/footer') %>
