<%- include('partials/header') %>
<div class="question-div">
  <h1 class="question-h1"><%=question.title%></h1>
  <p class="question-p"><%-question.body%></p>
  <div data-pym-src="https://www.jdoodle.com/iembed/v0/9pQ"></div>
</div>

<%- include('partials/footer') %>
