<%- include('partials/header') %>

<div class="login">
<div class="local-login">
    <form>
      <h1 class="h3 mb-3 fw-normal">Sign Up to Bugwar</h1>
      <label for="inputUsername" class="visually-hidden">Username</label>
      <input
        type="text"
        id="inputUsername"
        class="form-control"
        placeholder="Username"
        required
        autofocus
      />
      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <div class="checkbox mb-3"></div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign Up
      </button>
      <p class="no-account-p">Already have an account?</p>
      <a href="/login">Sign In</a>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; BugWar</p>
  </div>
</div>
<%- include('partials/footer') %>