body {
  background-color: #f6f5f5;
}


/* NAVBAR  */

.navbar {
  padding: 0.5% 6%;
  /* position:fixed; */
}

.navbar-nav {
  margin-left: auto;
}
/* 
.d-flex{
  position: relative;
  left: 30%;
} */

.nav-item {
  margin: 0 5%;
}


.search-width{
  width:15em;
}
.login-a {
  color: white;
  text-decoration: none;
}

.btn-outline-light {
  width: 100px;
}

/* HOME PAGE */

.home-block {
  height: 100vh;

  padding: 10% 30% 5% 30%;
}

.btn-div {
  text-align: center;
}
.home-btn {
  font-size: 1.2em;
  height: 5em;
  width: 10em;
  margin: 3% 1%;
  border-radius: 20px;
  background-color: #e6e6e6;
  box-shadow: 0px 3px 3px black;
}

/* LOGIN PAGE*/

.login {
  height: 100vh;
  text-align: center;
  padding: 6% 8% 10% 8%;
}

.btn-social {
  display: block;
  margin: 5% 0%;
}
.social-login,
.local-login {
  display: inline-block;
  width: 20%;
}

.social-login {
  position: relative;
  bottom: 30%;
  margin-left: 8%;
  margin-right: 5%;
}

.local-login {
  text-align: center;
  /* margin-top: 10%; */
  background-color: white;
  width: 30%;
  margin: 0 5% 0 5%;
  padding: 2% 5% 2% 5%;
  border-radius: 30px;
  box-shadow: 0.5px 0.5px black;
}

.form-control {
  margin: 2% 0;
}

.alert{
  color:red;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.or-p {
  display: inline-block;
  position: relative;
  bottom: 40%;
}

.no-account-p {
  padding-top: 10px;
}

/* ASK QUESTION */

.ask-h1{
   margin:2% 0% 0% 10%;
}

.form-control{
  margin-top: 0px;
}

.ask-form{
  width: 60%;
  margin: 3% 0% 0% 10%;
}

.mb-3{
  margin-bottom: 20%;
}

.ask-p{
  margin-bottom: 0;
  font-size: 0.8em;
}

.ask-submit{
  margin-bottom: 10%;
}

/* QUESTION PAGE */

.question-div{
  margin:5% 20% 0 20%;
}

.question-h1{
  
  margin-bottom: 5%;
}


/* UPVOTE SYSTEM */

.vote {
  display: inline-block;
  cursor: pointer;
  color: #687074;
  border: 0;
  background-color: #f6f5f5;
} 

.vote:hover{
  color: #f48024;
}

.on{
  color:#f48024;
}
.upvote-button{
  float:left;
  position: relative;
  left: 15%;
  margin-top: 10%;
}

/* POST ANSWER */

.ask-answer{
  width: 70%;
   margin: 3% 0% 0% 15%; 
  
}

.userpost{
  float:right;
  margin-top: 5%;
  margin-right: 5%;
}

.answer-div{
  width:75%;
  margin: 3% 15% 0% 15%; 
}


.answerthis{
  float:right;
  margin-top: 12%;
  margin-right: -10.5%;
}

/* QUESTION LIST */

.list-div{
  width: 70%;
  margin:2% 20% 0 12%;
}

.list-upvote-div{
  display: inline-block;
  text-align: center;
  margin: 2% 1% 0 1%;
  color:#6e7c7c;
}

.askedby{
  float: right;
}
.list-a{
  text-decoration: none;
  /* color: black; */
  font-size: 1.7em;
}

.upvote-a,.upvote-a:hover{
  text-decoration: none;
  color:#6e7c7c;
  font-size: 1em;
}
.askquestion{
  float: right;
  margin-right: 8%;
  margin-top: -3%;
}

.ask-user{
  text-decoration: none;
}

/* ANSWERS */
.answeredBy{
  float:right;
  color:#6e7c7c;
  position: relative;
}

.answer-upvote-button{
  float:left;
  position: absolute;
  left: 12%;
}

.btn-group-question{
  /* display: inline-block; */
  float: right;
  position: relative;
  right: 20%;
  margin-top: 3%;
}

.btn-group-answer{
  position: relative;
  left: 70%;
}

.delete-div{
  padding-bottom: 100px;
}
.delete-ques{
  float: right;
  position: relative;
  right: 120px;
}