/* NAVBAR */

.navbar {
  padding: 0.5% 6%;
}

.navbar-nav {
  margin-left: auto;
}
/* 
.d-flex{
  position: relative;
  left: 30%;
} */

.nav-item {
  margin: 0 5%;
}

a {
  text-decoration: none;
}

.btn-outline-light {
  width: 100px;
}

/* HOMEPAGE */
.home-block {
  height: 100vh;
  background-color: #f6f5f5;
  padding: 10% 30% 5% 30%;
}

.btn-div {
  text-align: center;
}
.home-btn {
  font-size: 1.2em;
  height: 5em;
  width: 10em;
  margin: 3% 1%;
  border-radius: 20px;
  background-color: #e6e6e6;
  box-shadow: 0px 3px 3px black;
}
